#employes {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px
}

#employes td, #employes th {
  border: 1px solid #ddd;
  padding: 8px;
}

#employes tr:nth-child(even){background-color: #f2f2f2;}

#employes tr:hover {background-color: #ddd;}

#employes th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}